@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-content a {
  @apply text-blue-600 underline;
}
.markdown-content a:hover {
  @apply text-blue-800;
}
.markdown-content > div > article > div > p > img {
  @apply !block !w-[300px] !h-[300px] !object-cover !mx-auto;
}
